<?xml version='1.0' encoding='UTF-8'?>
<hudson.tasks.Mailer_-DescriptorImpl plugin="mailer@1.20">
  <defaultSuffix>{{ jenkins_email_user_suffix }}</defaultSuffix>
  <hudsonUrl>{{ jenkins_jenkins_URL }}</hudsonUrl>
  <replyToAddress>{{ jenkins_email_system_address }}</replyToAddress>
  <smtpHost>{{ jenkins_email_smtp_server }}</smtpHost>
  <useSsl>false</useSsl>
  <charset>UTF-8</charset>
</hudson.tasks.Mailer_-DescriptorImpl>