<?xml version='1.0' encoding='UTF-8'?>
<jenkins.model.JenkinsLocationConfiguration>
  <adminAddress>{{ jenkins_email_system_address }}</adminAddress>
  <jenkinsUrl>{{ jenkins_jenkins_URL }}</jenkinsUrl>
</jenkins.model.JenkinsLocationConfiguration>